<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- <settings>中的logImpl属性配置指定使用LOG4J输出日志 -->
    <settings>
        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <!--<typeAliases>元素下面配置了一个包的别名，通常确定一个类的时候需要使用类的全限定名称，为了使用方便，也可以配置包名称-->
    <typeAliases>
        <package name="com.hycjack.mybatis.model"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/mybatis?serverTimezone=Asia/Shanghai"/>
                <property name="username" value="root"/>
                <property name="password" value="admin123"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="com\hycjack\mybatis\mapper\CountryMapper.xml"></mapper>
        <mapper resource="com\hycjack\mybatis\mapper\UserMapper.xml"></mapper>
        <mapper class="com.hycjack.mybatis.annotationMapper.RoleMapper"></mapper>
    </mappers>
</configuration>